@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Protest+Revolution&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocobiker');
body {
    background-image: url('../../assets/countdown.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

.rotateIcon {
    width: 400px;
    height: 400px;
    background-image: url('../../assets/symbol.png');
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: rotate;
    animation-duration: 6s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.caption {
    margin: 40px;
    color: #e5c618;
    font-size: 60px;
    font-weight: 400;
    font-family: 'CocoBikeR', sans-serif;
    text-align: center;
}

@keyframes rotate {
    10% {
        transform: rotateY(36deg)
    }
    20% {
        transform: rotateY(72deg)
    }
    30% {
        transform: rotateY(108deg)
    }
    40% {
        transform: rotateY(144deg)
    }
    50% {
        transform: rotateY(180deg)
    }
    60% {
        transform: rotateY(216deg)
    }
    70% {
        transform: rotateY(252deg)
    }
    80% {
        transform: rotateY(288deg)
    }
    90% {
        transform: rotateY(324deg)
    }
    100% {
        transform: rotateY(360deg)
    }
}

@media (max-width: 1275px) {
    .caption {
        font-size: 40px;
    }
}

@media (max-width: 875px) {
    .caption {
        font-size: 30px;
    }
    .rotateIcon {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 676px) {
    .caption {
        font-size: 25px;
    }
    .rotateIcon {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 285px) {
    .caption {
        font-size: 20px;
    }
    .rotateIcon {
        width: 200px;
        height: 200px;
    }
}