@import url('https://fonts.cdnfonts.com/css/cocobiker');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

body {
    background-image: url('../../assets/bg9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2vh;
}

body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: -99;
}

section {
    border: none;
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-image: url('../../assets/bg5.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    width: 700px;
    margin: auto;
    padding: 3vh 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    height: 20vh;
    width: 100%;

    border: 5px solid black;
    border: none;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.title img {
    /* Add styles for the image */
    width: 100%;
    padding: 0 10vw;
    height: auto;
}

.title p{
    font-size: 20px;   
    color: maroon;  
    font-weight: 400;                                                                     
}

.imageContent{
    height: 40vh;
    width: 100%;

    border: 5px solid black;
    border: none;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.imageContent img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

.footer{
    height: 30vh;
    width: 100%;

    border: 5px solid black;
    border: none;

    padding:20px;

    font-size: 15px;
    font-family: 'CocoBikeR', sans-serif;
    font-weight: 300;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.footer p{
    width: 100%;
    max-width: 600px;
    height: auto;
}