@import url('https://fonts.cdnfonts.com/css/cocobiker');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');
:root {
    --color-bg: #22262E;
    /* Added color for text */
    --color-heading: #e5c618;
    --color-counter: #FFD700;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('../assets/bg3.jpg');
    /* Replace 'path_to_your_image.jpg' with the actual path to your image */
    background-size: cover;
    /* Ensure the background image covers the entire viewport */
    background-repeat: no-repeat;
    background-position: center;
    /* Center the background image */
    display: flex;
    min-height: 100vh;
    justify-content: center;
    /* Align the content horizontally */
    align-items: center;
    /* Align the content vertically */
}

body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

.fire {
    width: 100%;
}

section {
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

@media (min-width: 35.5em) {
    .wrapper {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 0 2rem;
    }
}

.title {
    color: var(--color-heading);
    font-family: 'CocoBikeR', sans-serif;
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 0.1875em;
    margin: unset;
    text-align: center;
}

.titleLabel {
    font-family: "Marhey", sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.counter {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    color: var(--color-counter);
    display: flex;
    flex-direction: column;
    font-family: "JetBrains Mono", mono;
    font-weight: 100;
    line-height: 1;
    padding: 10px;
    text-align: center;
}

.counterLabel {
    font-size: 30px;
}

.displayValue {
    font-size: 70px;
}

.counter h2 {
    color: var(--color-heading);
    font-family: var(--font-family-heading);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.1875em;
    order: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

@media (max-width: 885px) {
    .wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px 30px;
    }
}

@media (max-width: 565px) {
    .title {
        font-size: 50px;
    }
    .titleLabel {
        font-size: 40px;
    }
    .counterLabel {
        font-size: 10px
    }
    .displayValue {
        font-size: 50px;
    }
    .counter h2 {
        font-size: 20px;
    }
}

@media (max-width: 358px) {
    .title {
        font-size: 30px;
    }
    .titleLabel {
        font-size: 25px;
    }
    .counterLabel {
        font-size: 5px
    }
    .displayValue {
        font-size: 30px;
    }
    .counter h2 {
        font-size: 10px;
    }
}