/* CSS code */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    background-image: url("../assets/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}