/* CSS code */


/* CSS code */

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* Prevent scrolling */
}

#particles-js {
    position: fixed;
    /* Change to fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Move particles behind other content */
}

canvas {
    display: block;
    vertical-align: bottom;
}

#stats {
    display: none;
}